go 1.19

use (
	.
	../../external/go-cmp
	../../external/golang-protobuf
	../../prebuilts/bazel/common/proto/analysis_v2
	../../prebuilts/bazel/common/proto/build
	../blueprint
)

replace (
	github.com/golang/protobuf => ../../external/golang-protobuf
	github.com/google/blueprint => ../blueprint
	github.com/google/go-cmp => ../../external/go-cmp
	google.golang.org/protobuf => ../../external/golang-protobuf
	prebuilts/bazel/common/proto/analysis_v2 => ../../prebuilts/bazel/common/proto/analysis_v2
	prebuilts/bazel/common/proto/build => ../../prebuilts/bazel/common/proto/build
)
