go 1.19

use (
	.
	../../external/go-cmp
	../../external/golang-protobuf
	../../external/starlark-go
	../../prebuilts/bazel/common/proto/analysis_v2
	../../prebuilts/bazel/common/proto/build
	../blueprint
	../make/tools/rbcrun
)
